//colors


$primary: #0282f9;
$secondary: #303030;
$secondary_light: #797979;
$dark: #1c1c1c;
$light: #ffffff;

/* $success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
 */